@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

.App {
  text-align: center;
  background-color: #020f2fe3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 75px;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 3%;
  align-items: start;
  justify-content: start;
  font-style: normal;
  font-weight: 200;
  text-shadow: 4px 6px 6px #000000;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
